@value dark-color from '../../../../css/variables.module.css';
@value main-color from '../../../../css/variables.module.css';

.item {
  margin-right: 50px;
}

.item:last-child {
  margin-right: 0;
}

.itemLink {
  text-transform: uppercase;
  color: dark-color;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.015;
  text-decoration: none;
}

.active {
  color: red;
}
